body {
    color: #414141;              
    background-color: #EEEEEE; 
    font-size: 18px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
ul{
    list-style: circle;
}
ol {
    list-style-type: lower-roman;
}
a {
    text-decoration: none;
}
p {
    text-align: left
}